{% extends "layout/basic.html" %}

{% block content %}
    {% for bb in bb_list %}
    <div>
        <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.get_kind_display }}</p>
        <p><a href="{% url 'by_rubric' pk=bb.rubric.pk %}">{{ bb.rubric.name }}</a> </p>
        <p>{{ bb.published|date:"d.m.Y H.i.s" }}</p>
    </div>
    {% endfor %}

    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        Часть №{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
    </div>

{% endblock %}
